.blog_wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon {
    display: flex;
}

.tag { 
    position: absolute;
    top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 10px;
    padding: 2px 6px;
}

.tag > .text {
  font-size: 15px;
  font-weight: 400;
  color: var(--text-color-dark);
}
/* .blog_wrap .text {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    white-space: nowrap;
} */

/* 데스크탑 3개 태블릿 2개 모바일1개씩 표시 */
.blog_contents {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: auto;
    justify-items: center;
    width: 95%;
    height: 100%;
    column-gap:30px;
    row-gap: 20px;
}


/* 블로그페이지에 표시되는 카드 CSS */
.blog_card {
    display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 400px;
    border-radius: 5px;
    border: 1px solid black;
    overflow: hidden;
}


.blog_cardcover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 270px;
}

.blog_cardtitlewrap {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 130px;
    margin: 0;
    background-color: beige;
}

.blog_cardtitle {
    color: var(--text-color-dark);
    font-size: 30px;
    font-weight: 500;
 }

.blog_cardmtsummary {
    /* 12/18 line-clamp를 사용하기 위한 display:-webkit-box , -webkit-box-orient */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    color: var(--text-color);
    font-size: 20px;
    font-weight: 400;
}

.blog_carddate {
  position: relative;
  color: var(--text-color-light);
  left: 35%;
  font-size: 14px;
  font-weight: 300;
}

/* 블로그페이지에서 카드를 눌렀을때 나오는 컴포넌트 CSS */

/* 12/05 카드를 클릭했을때 해당 카드데이터를 가진 컴포넌트가 오른쪽에서 화면의 중간까지 오게 하기 
    transform , aria-hidden ? transiton ?  그리고 데이터처리는 ?? 
*/
.blog_innercontent {
    position: fixed;
    top: 1%;
    right: 0;
    width: 50dvw;
    height: 98dvh;
    border-radius: 5px;
    transform: translateX(0) translateY(0);
    transition: transform 1s ease-in-out;
    /* 12/06 데스크탑 ,태블릿에선 화면의 반 , 모바일에선 화면 전체 ?  */
    background-color: var(--section-bgcolor);
    overflow-y: scroll;
    border: 1px solid dimgray;
}

.blog_innercontent.open{
    transform: translateX(50dvw) translateZ(0);   
}

.blog_innercontent > .content_wrap {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column; 
    gap: 3px;
}

.content_header{
    display: flex;
    width: 100%;
    height: 5%;
    border-bottom: 1px solid dimgray;
    align-items: center;
}


.content_header > i { 
    width: 25px;
    height: 25px;
    transition: var(--tran-02);
    border-radius: 3px;
    
}

.content_header > i:hover {
    box-shadow: 1px 1px 5px var(--shadow-color);
}


.content_wrap > .content_article { 
    display: flex;
    flex-direction: column;
    height: 90%;

}



.content_article > .titlewrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    justify-content: space-between;
    padding: 5px 0;
    border-bottom: 1px solid dimgray;

}




.titlewrap > .title {
    height: 5%;
}
.titlewrap > .info { 
    display: flex;

    gap: 15px;
}

.info div {
    display: flex;
    gap: 3px;
}
.info .icon { 
    display: flex;
    justify-content: center;
    align-items: center;
}

.info .text {
    font-size: 15px;
    color: var(--text-color-light);
}

.content_article> .maintextwrap {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid dimgray;


}


.maintext {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}


.maintext > div {
    padding: 10px 0;
}

.maintext .text {
    font-size: 16px;
    font-weight: 350;
}


.content_footer { 
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    height: 5%;
}
.content_footer i {
    width: 25px;
    height: 25px;
    transition: var(--tran-02);
    border-radius: 3px;
}

@media all and (max-width : 768px) {
    .blog_contents{
        grid-template-columns: repeat(1,1fr);
    }
}