@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

:root {
    /* 프로젝트 전체에서 사용할 색 변수로 설정 */
    /*  --COLOR--  */
    --body-color : #F2F4F8 ; 
    --sidebar-color : #fff ;
    --primary-color : #24A148 ;
    --primary-color-light : #F6F5FF ;
    --toggle-color : #DDD ;
    --text-color : #878D96 ; 
    --section-bgcolor : #fff;


    /*  --TRANSISTION-  */
    --tran-02 : all 0.2s ease ;
    --tran-03 : all 0.3s ease ;
    --tran-04 : all 0.4s ease ; 
    --tran-05 : all 0.5s ease ; 
    --tran-06 : all 0.6s ease ;
    --tran-10 : all 1.0s ease ; 
}


.notosanskr * { 
 font-family: 'Noto Sans KR', sans-serif;
}


body {
    height: 100vh;
    background-color: var(--body-color);
    font-family: 'Noto Sans KR', sans-serif;
    transition: var(--tran-03);
}

body.dark { 
    /* 다크모드일때 사용할 색 */
    --body-color : #393939 ; 
    --sidebar-color : #525252 ;
    --primary-color : #24A148 ;
    --primary-color-light : #8D8D8D ;
    --toggle-color : #DDD ;
    --text-color : #DDE1E6 ; 
}



section {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

section > div {
    position: relative;
    width: 98%;
    height: 98%;
    background: var(--section-bgcolor);
    border-radius: 5px;

}


/* 버튼 ::hover 배경색 변경 일괄적으로 적용 ?  */





/* 데스크탑 */
@media all and (min-width :1024px ) {
    
}


/* 태블릿  */
@media all and (min-width : 768px) and (max-width : 1023px) {
    
}

@media all and (max-width : 768px) {
 section {
    width: 100vw;
 }
}
